@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

body{
	font-family: 'Lato', sans-serif;
}
header{
	width: 100%;
	height: auto;
	background: white;
	font-family: 'Lato', sans-serif;

}
.header-bg{
	height: 400px;
	width: 100%;
	margin: 0 auto;
	background: url("../img/home_bg.png") no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.container-min{
	width: 600px;
	height: auto;
	margin: 0 auto;
}
.container-special{
	width: 490px;
	height: auto;
	margin: 0 auto;
}
.logo-cover{
	margin-top: 70px;
}
nav{
	height: 75px;
	width: 100%;
	background: white;
	color: #464646;
}
.home-nav{
	background: #0D9344;
	color: #fff;
    z-index: 9999999999;
}
.home-ul{
	width: 95px;
	width: auto;
    position: relative;
    display: inline-block;
}
.home-ul li{
	padding-top: 17px;
	float: left;
}
.home-menu{
	height: 55px;
	font-family: 'Lato', sans-serif;
	float: left;
	display: block;
    color: white;
    text-align: center;
 	margin-right: 15px;
 	padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
	-webkit-transition: background 0.3s; /* Safari */
    transition: background 0.3s;
}
.home-menu:hover{
	background: #0b7535;
}
.home-menu:last-child{
	margin-right: 0;
}
.dropdown-content {
	margin-top: 70px;
	margin-left: 127px;
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content2 {
	margin-top: 70px;
	margin-left: 127px;
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content2 a:hover {background-color: #f1f1f1}
.show {display:block;}
.hide{display: none;}

.dropbtn{
	cursor: pointer;
}
.dropbtn:after{
  	content:"▼";
  	position: absolute;
  	margin-left: 9px;
  	margin-top: 22px;
  	font-size: 6px;
}
.dropbtn2:after{
  	content:"▼";
  	position: absolute;
  	margin-left: 50px;
  	margin-top: -10px;
  	font-size: 6px;
}

#home-pubs{
	width: 100%;
	height: auto;
	overflow: auto;
	padding-bottom: 45px;
}
#novedades{
	width: 510px;
	height: auto;
	float: left;
}
h3{
	font-family: 'Lato', sans-serif;
	font-style: bold;
	color: #333333;
}
.news{
	font-size: 18px;
	margin-top: 45px;
}
.news-seccion{
	width: 510px;
	height: 400px;
	margin-top: 30px;
}
.cotizacion{
	width: 340px;
	height: 50px;
	margin-top: 30px;
	border-radius: 5px;
	background: #D6D6D6;
	font-size: 32px;
	padding-top: 20px;
}
.cotizacion-cereales{
	width: 340px;
	height: auto;
}
#l-section{
	float: left;
	width: 340px;
	margin-left: 80px;
}
#bottom-publ{
	background: #EEEEEE;
	width: 100%;
	height: 300px;
}
.mid-title{
	padding-top: 45px;
	font-size: 18px;
}
.mid-title:before{
  	content:"";
  	position: absolute;
  	margin-left: -75px;
  	margin-top: 7px;
	height: 2px;
	width: 50px;
	background: #B9B9B9;
}
.mid-title:after{
  	content:"";
  	position: absolute;
  	margin-left: 22px;
  	margin-top: 7px;
	height: 2px;
	width: 50px;
	background: #B9B9B9;
}
.carousel{
	margin-top: 45px;
}
.contact{
	background: #BD5523;
	width: 100%;
	height: 760px;
	padding-top: 45px;
	padding-bottom: 45px;
}
.white-text{
	color: white;
	font-size: 18px;
}
form{
	margin-top: 30px;
	float: left;
    display: inline-block;
}
input[type=text]{
	width: 350px;
	padding: 15px;
	background: white;
	border-radius: 5px;
	font-size: 14px;
	color: #898989;
	margin-top: 15px;
	border: 0;
}
textarea{
	width: 350px;
	min-width: 350px;
	max-width: 350px;
	padding: 15px;
	min-height: 245px;
	max-height: 245px;
	font-size: 14px;
	margin-top: 15px;
	background: white;
	border-radius: 5px;
	color: #898989;
	border: 0;
}
.submit{
	background: #F26826;
	border: 0;
	border-radius: 55px;
	color: white;
	float: right;
	margin-top: 15px;
	font-style: bold;
	font-size: 14px;
	padding: 15px 25px 15px 25px;
	cursor: pointer;
	-webkit-transition: background 0.3s; /* Safari */
    transition: background 0.3s;
}
.submit:hover{
	background: #a0471e;
}
.header{
	height: 75px;
	width: 100%;
	background: white;
	position: fixed;
	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.38);
	-moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.38);
	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.38);
	position: fixed;
	z-index: 99999999999;
}
.logo-head{
	margin-top: 15px;
}
.header-ul{
	float: right;
}
.menu-header{
	float: left;
	color: #363636;
	font-style: bold;
	text-decoration: none;
	margin-right: 20px;
	margin-top: 27px;
	font-size: 16px;
	font-weight: 700;
	-webkit-transition: color 0.3s; /* Safari */
    transition: color 0.3s;
}
.menu-header:hover{
	color: #0D9344;
}
.header-ul .active{
	color: #0D9344;
}
.banner-us{
	padding-top: 200px;
	height: 400px;
	width: 100%;
	background: url('../img/about_us.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h2{
	color: white;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
}
.text-banner{
	margin-top: 50px;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	color: white;
	line-height: 120%;
}
.list{
	width: 100%;
	height: auto;
	padding-bottom: 50px;
}
.list-style1{
	width: 100%;
	height: auto;
	margin-top: 50px;
	display: inline-block;
}
.title-style1{
	width: 100%;
	color: #2C2C2C;
	font-size: 24px;
	font-style: bold;
	font-weight: 700;
	float: left;
}
.title-style1:after{
  	content:"";
  	position: absolute;
  	margin-left: 15px;
  	margin-top: 11px;
	height: 3px;
	width: 70px;
	background: #242424;
}
.content-style1{
	float: left;
	margin-top: 20px;
}
.image-style1{
	float: left;
}
.descr-style1{
	float: left;
	width: calc(100% - 300px);
	margin-left: 50px;
	font-style: normal;
	font-weight: 400;
	color: #2C2C2C;
	font-size: 16px;
	line-height: 120%;
}
b{
	font-weight: 700;
}
.product{
	width: 100%;
	padding-top: 200px;
	height: 175px;
	background: url('../img/productos_bg.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.limpieza{
	width: 100%;
	padding-top: 200px;
	height: 175px;
	background: url('../img/limpieza_bg.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.list-style2{
	float: left;
	width: 400px;
	height: auto;
	margin: 35px;
	border-radius: 5px;
	border: 1px solid #CACACA;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.24);
}
.title-style2{
	width: 100%;
	color: #2C2C2C;
	font-size: 16px;
	font-style: bold;
	font-weight: 700;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	display: inline-block;
}
.descr-style2{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-right: 30px;
	font-style: normal;
	font-weight: 400;
	color: #2C2C2C;
	font-size: 16px;
	line-height: 120%;
	display: inline-block;
}
.button-link{
	width: calc(100% - 80px);
	height: auto;
	background: #0D9344;
	padding: 20px 20px 20px 20px;
	text-align: center;
	color: white;
	float: left;
	margin: 30px; 20px 20px 20px;
	text-decoration: none;
	border-radius: 40px;
	-webkit-transition: background 0.3s; /* Safari */
    transition: background 0.3s;
}
.button-link:hover{
	background: #106B36;
}
.clr{
	clear: both;
}
.all{
	display: none;
	background: #000000;
  	opacity: .6; 
	height: 100%;
	width: 100%;
	position: fixed;
}
.more-info{
	z-index: 99999;
	display: none;
	position: fixed;
	width: calc(100% - 80px);
	padding: 40px;
	background: white;
	z-index: 999;
    bottom: 0;
    color: white;
    -webkit-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 26px 1px rgba(0,0,0,0.75);

}
.more-info h3{
	color: #2C2C2C;
	float: left;
}
.close{
	color: black;
	float: right;
	top: 0;
	font-weight: bolder;
	font-size: 30px;
	cursor: pointer;
}
.map{
	margin-top: 45px;
	float: left;
	background: #F26826;
	margin-left: 60px;
}
.group-1, .group-2, .group-3, .group-4, .group-5{
	display: none;
	float: left;
	margin-top: 35px;
	left: 0;
}
.group-1 img, .group-2 img, .group-3 img, .group-4 img, .group-5 img{
	margin-left: 10px;
}
.head-view{
	background: #0D9344;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}
.logo-head{
	display:inline-block;
	text-align: center;
	color: white;
	font-style: bolder;
	font-size: 26px;
    text-shadow: 0px 2px 1px #000;
    margin-bottom: 15px;
}
.fl{
	float: left;
	position: absolute;
	text-decoration: none;
	margin-left: 30px;
	margin-top: 20px;
	color: #2C2C2C;
}
.fl a{
	text-decoration: none;
	color: white;
}
.wrapper{
    display: inline-block;
}
.tabs{
	width: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.tab{
	float: left;
	cursor: pointer;
	color: #095A2A;
	margin-top: 4px;
	margin-left: 8px;
}
.selected-tab{
	padding: 5px;
	color: #2C2C2C;
	background: white;
	border-radius: 5px;
	display: inline-block;
	margin-top: 0px;
}
.left{
	width: 100%;
}
.info-extra{
	text-align: center;
	float: left;
	margin-top: 20px;
	width: 960px;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 25px;
	color: white;
}
.upside{
	width: 100%;
}